@import url('https://fonts.googleapis.com/css2?family=Jacquard+24&family=Jersey+25&family=Teko:wght@300..700&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
   font-family: "Teko", sans-serif;
  /* font-optical-sizing: auto;
  font-weight : <weight>;
  font-style : normal; */
 background-color: rgb(250, 250, 252);
}
html{
    scroll-behavior: smooth;
}
p{
    color: rgb(85,85,85);
}
a, btn{
    transition: all 300ms ease;
}
